# ── AZURE GEGEVENS (haal op via portal.azure.com) ──
TENANT_ID=cf186970-74e1-465e-84ba-20b9f75a1342
CLIENT_ID=20f43c9e-34d6-4204-8a36-38d2a58cfcd8
CLIENT_SECRET=9nC8Q~goUt~XTTEWll~ACXcI~cay-5Hpx.q.adzD

# ── MAIL INSTELLINGEN ──
MAIL_AFZENDER=ahmet@eyinfrasupport.nl
PORT=3001
