# ── AZURE GEGEVENS (haal op via portal.azure.com) ──
TENANT_ID=plak-hier-jouw-tenant-id
CLIENT_ID=plak-hier-jouw-client-id
CLIENT_SECRET=plak-hier-jouw-client-secret

# ── MAIL INSTELLINGEN ──
MAIL_AFZENDER=ahmet.erol@eyinfrasupport.nl
PORT=3001
